html, body {
  font-size: 16px;
  max-width: 900px;
  margin: 40px auto;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #00aeef;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

img {
  max-width: 900px;
}

li {
  margin-bottom: 8px;
}

li ul {
  margin-top: 8px;
}

a,
a:visited {
  color: #00aeef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}