# Chapter 1

Oh there was a sow who had three little pigs,
There little piggies had she.
The old sow always went "oink, oink, oink,"
and the piggies went "wee, wee, wee-ee-ee."     
      
Now one day one of the three little pigs
To the other two piggies said he,
"Why don't we always go oink, oink, oink?
It's so childish to go wee, wee, wee-ee-ee!"    

These three piggies grew skinny and lean,
Skinny they well should be,
For they always would try to go "oink, oink, oink,"
And they wouldn't go "wee, wee, wee-ee-ee."
      
Now there three piggies they up and they died.
A very sad sight to see.
So don't ever try to go "oink, oink, oink,"
When you oughta go "wee, wee, wee-ee-ee!"

![001_plotPKRatio.png](001_plotPKRatio.png)
|StudyID        |Age (y)|BodyWeight (kg)|ReportCL|PKSimCL|Ratio  |
|--------------:|------:|--------------:|-------:|------:|------:|
|Vogelstein 1977|15     |77             |133.98  |95.3689|0.71181|
|Vogelstein 1977|15     |62.5           |90      |85.928 |0.95476|
|Vogelstein 1977|9      |21.5           |55.04   |46.07  |0.83703|
1.541860

